[Unit]
Description=PostgreSQL database server
After=network.target

[Service]
Type=forking
TimeoutSec=120
User=postgres
Group=postgres

Environment=${PG_ROOT_NAME}=${PG_ROOT}

SyslogIdentifier=postgres
PIDFile=${${PG_ROOT_NAME}}/postmaster.pid

ExecStartPre=/usr/bin/postgresql-check-db-dir ${${PG_ROOT_NAME}}
ExecStart= /usr/bin/pg_ctl -s -D ${${PG_ROOT_NAME}} start -w -t 120 
ExecReload=/usr/bin/pg_ctl -s -D ${${PG_ROOT_NAME}} reload
ExecStop=  /usr/bin/pg_ctl -s -D ${${PG_ROOT_NAME}} stop -m fast

# Due to PostgreSQL's use of shared memory, OOM killer is often overzealous in
# killing Postgres, so adjust it downward
OOMScoreAdjust=-200

# Additional security-related features
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
